@model labnet.Models.JobOffer


@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.JobTitle)</h4>
    <hr />


    <table cellspacing="0" cellpadding="5">
        <tr>
            <td valign="top">
                @Html.DisplayFor(model => model.JobDescription)
            </td>
            <td valign="top">
                <dl class="dl-horizontal">
                    <dt>
                        SalaryFrom
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SalaryFrom)
                    </dd>
                    <dt>
                        SalaryTo
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SalaryTo)
                    </dd>
                    <dt>
                        StartDate
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>
                    <dt>
                        EndDate
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                    <dt>
                        Location
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Location)
                    </dd>
                </dl>

                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Apply", "Create", "JobApplications", new { i = Model.Id } , new { @class = "btn btn-primary" })

                    @using (Html.BeginForm("Delete", "JobOffer", new { Model.Id }, FormMethod.Post, null, new { style = "display:inline;" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    }
                </div>


            </td>
        </tr>
    </table>



</div>
<div>
    @Html.ActionLink("Back", "Index", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>
