@model IEnumerable<labnet.Models.JobApplication>

@{
    ViewData["Title"] = "Index";
}
<head>
    <script src="https://kit.fontawesome.com/0d382db8a4.js" crossorigin="anonymous"></script>
</head>
<h2>Index</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfferId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactAgreement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CvUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfferId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactAgreement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CvUrl)
            </td>
           
             
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <i class="fas fa-edit"
                       title="Edit"></i>
                </a>|
                <a asp-action="Details" asp-route-id="@item.Id">
                    <button class="btn btn-rounded btn-primary mx-2">Details</button>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <button class="btn btn-rounded btn-danger">
                        Delete
                    </button></a>
            </td>
        </tr>
}
    </tbody>
</table>
